*{
    margin: 0;
    
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.App{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
   
    

}
form{
    display: flex;
}
.sle{
    margin-left: 20px;
    width: 100px;
}
.todo-app{
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 10px 10px 10px 10px solid grey;
    padding: 5%;
}
.todolist{
    margin-top: 60px;
}
.todolist-list{
    list-style: none;
}
.todo-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
  
}

